extends layout/layout

block css
    link(rel='stylesheet', href='/css/card.css')
    link(rel='stylesheet', href='/css/subpage.css')

block content
    div.content
        div.errorText 404
            div
        div.errorDesc
            p this page is pending
            p 还没弄好呢，不许看...
block js