extends layout/layout

block css
  link(rel='stylesheet', href='/css/common/switchImg.css')
  link(rel='stylesheet', href='/css/card.css')

block content
  div.content
    div.switchImg(id="switchImg")
      ul.imgList
        li.imgItem.js_currentImg(id="switchImg_0")
          img.imgItem_img(src="img/1.jpg")
        li.imgItem(id="switchImg_1")
          img.imgItem_img(src="img/2.jpg")
        li.imgItem(id="switchImg_2")
          img.imgItem_img(src="img/3.jpg")
      div.location( id="location")
        ul
          li.location_item(id="lo_switchImg_0" data-id="switchImg_0") 1
          li.location_item(id="lo_switchImg_1" data-id="switchImg_1") 2
          li.location_item(id="lo_switchImg_2" data-id="switchImg_2") 3

    div.card
      div.card_2_left
        div.card_title 新闻动态
        div.card_c

      div.card_2_right

    div.card


    div.card
      div.card_2_left
      div.card_2_right

    div.card
      div.card_1

block js
  script(src="/js/common/switchImg.js")
  script(src="/js/index.js")