extends layout

block css
  link(rel='stylesheet', href='/css/common/switchImg.css')
  link(rel='stylesheet', href='/css/card.css')

block content
  div.content
    div.switchImg(id="switchImg")
      ul.imgList
        li.imgItem.js_currentImg(id="switchImg_0")
          img.imgItem_img(src="img/1.jpg")
        li.imgItem(id="switchImg_1")
          img.imgItem_img(src="img/2.jpg")
        li.imgItem(id="switchImg_2")
          img.imgItem_img(src="img/3.jpg")
      div.location( id="location")
        ul
          li.location_item(id="lo_switchImg_0" data-id="switchImg_0")
          li.location_item(id="lo_switchImg_1" data-id="switchImg_1")
          li.location_item(id="lo_switchImg_2" data-id="switchImg_2")

    div.card
      div.card_2_left
        div.card_title 新闻动态
        div.card_c
          ul.news
            li.news_item
              a.news_item_a(href="/news/1")
                img.news_pic(src="/img/news/1/main.png")
                div.news_title 三分钟了解艾灸
                    div.new_title_time 2016-10-13
                div.news_summary 现代人贪食寒凉、工作疲劳、非时作息、性情浮躁都在耗损着阳气，而人体脏腑的运转，经络的运行等一切生理活动都离不开阳气的推动。中医养生保健重在扶阳，而最直接有效补充阳气的方法就是艾灸。
            li.news_item
              a.news_item_a(href="/news/2")
                img.news_pic(src="/img/news/2/main.png")
                div.news_title 艾灸知识大全丨艾艾贴，引领健康养生新时尚
                  div.new_title_time 2016-9-2
                div.news_summary 艾灸产生于远古时代，是中国最古老的医术之一。从原始人发明火就出现了灸法的使用，在人类文明进程及医学发展史上都具有重要的影响。《黄帝内经》对灸法做了记载，甲骨文时代将“此草乂疾为‘艾’”就是充分的证明。
            li.news_item
              a.news_item_a(href="/news/3")
                img.news_pic(src="/img/news/3/main.png")
                div.news_title 艾养生丨红豆薏米粥祛湿？90%的人都犯了这几个错误
                  div.new_title_time 2016-9-13
                div.news_summary 夏季祛湿，祛湿的方法很多，比较常见的有食疗，很多人就喜欢“红豆薏米粥”，其实，你真的了解过它们的作用吗？

      div.card_2_right
        div.card_title 走进艾艾贴
        div.card_c.info
          p.info_text 深圳市艾蔓阁贸易有限公司与深圳前海艾艾贴生物科技有限公司合作，主要代理销售艾艾贴。以传承和弘扬艾文化为己任，将古老的传统艾灸疗法进行革新，以“传承、弘扬、实用美”作为理念信条；研发出简单实用、符合现代人生活习惯的艾灸产品－“艾艾贴”。多年来坚持以蕲艾系列制品作为市场突破口，深度挖掘李时珍医药文化，不断扩大经营规模，现已成为深圳地区具影响力的蕲艾深加工企业。
          p.info_text 艾艾贴艾灸品牌弘扬艾灸传统疗法，使艾灸更具有便利性和时代性。艾艾贴艾灸将功能与美学相结合，研发出梅花形艾灸产品，热力更足，疗效显著，期望艾灸成为一种日常美事!

    div.card
      div.card_1.product
        div.card_title 产品展示
        div.card_c
          a.product_img1(href="/product")
          a.product_img2(href="/product")

    div.card
      div.card_2_left
        div.card_title 艾灸养生
        div.card_c.yangSheng
          span.yangSheng_text 《孟子.离娄篇》中有一句：“七年之病，求三年之艾。”被历来的艾灸专家和爱好者们奉为经典。很多人是这样理解这句话的意思的：七年之病，指的是大病、难治之病，三年之艾，指的是三年以上的陈艾。总起来说就是对于大病、重病，要用三年以上的陈艾来进行艾灸治疗才会起到好的效果。
      div.card_2_right
        div.card_title 人体穴位
        div.card_c
          span.xuewei_text 人体周身约有52个单穴，300个双穴、50个经外奇穴，共720个穴位。有108个要害穴，其中有72个穴一般点击不至于致命，其余36个穴是致命穴，俗称‘死穴‘。 当然720个穴位也不一定是准确的，因为经外奇穴有多少现在还有争议。郝金凯的著作《针灸经外奇穴图谱》分上、中、下三篇，上篇：经上奇穴，十四经体表循行实测经脉线上的奇穴，计345个奇穴；中篇：经外奇穴，十四经体表循行实测经脉线外的奇穴，计1219个奇穴；下篇，集合奇穴，计91个奇穴，共计1655个奇穴。这些经外奇穴有的已经确定是穴位，有的还在争论当中。可能以后医学界会确定它们，毕竟医学的进步是无止境的。

    //div.card
    //  div.card_1
    //    div.card_title 艾艾贴视频
    //    div.card_c.video
    //      //img(src="/e8stdata/static/00/00/65/img/20161002/c3c39ad19d311e8dde7112cb81c1235c.jpg")
    //      div.pro-hide
    //        span.player
    //      div(id="a1" style="height: 429px; cursor: pointer; background-color: rgb(0, 0, 0);")
    //        video(controls="controls" id="ckplayer_a1" width="100%" height="100%" )
    //          source(src="/video/video.mp4" type="video/mp4")
    //          source(src="http://www.ckplayer.com/webm/0.webm" type="video/webm")
    //          source(src="http://www.ckplayer.com/webm/0.ogv" type="video/ogg")

block js
  script(src="/js/common/switchImg.js")
  script(src="/js/index.js")