.card {
    overflow: hidden;
    margin-top: 16px;
}

.center {
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
}

.card_title {
    width: 70%;
    font-weight: bold;
}

.c_t_link {
    text-decoration: none;
}

.c_t_link:hover {
    /*color: #ffd37c;*/
}

.c_t_main {
    font-size: 24px;
    color: #464642;
}

.c_t_sub {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 16px;
    font-size: 18px;
    color: #929284;
    line-height: 20px;
}

.c_t_bord {
    height: 3px;
    margin-top: 12px;
    line-height: 0;
    font-size: 0;
    background: -webkit-linear-gradient(left, #f79f79, #fff); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #f79f79, #fff); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #f79f79, #fff); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #f79f79, #fff); /* 标准的语法 */
}

.card_content {
    overflow: hidden;
    padding: 10px 30px 30px 10px;
}

.c_c_title {
    font-size: 18px;
    line-height: 36px;
    margin-top: 1em;
}

.c_c_sub {
    text-indent: 2em;
    font-size: 16px;
    line-height: 24px;
    color: #535352;
}

.card_foot {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    border: 4px dotted #f79f79;
    border-left: none;
    border-top: none;
    border-bottom-right-radius: 50px;
}

/* 粉红 */
.card_pink {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fae4cd;
}

.card_pink .c_t_bord {
    background: -webkit-linear-gradient(left, #f79f79, #fae4cd); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #f79f79, #fae4cd); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #f79f79, #fae4cd); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #f79f79, #fae4cd); /* 标准的语法 */
}

.card_pink .card_foot {
    border-color: #f79f79;
}