/* 品牌 */
.about_right {
    float: right;
    padding: 16px 0 0 16px;
}

.about_left {
    float: left;
    width: 50%;
}

.about_desc {
    text-indent: 2em;
    font-size: 14px;
    line-height: 21px;
    color: #535352;
}

.aboutPic {
    background: url(/img/about.jpg) no-repeat;
    width: 420px;
    height: 279px;
}

/* 品牌优势 */
.adv_lb {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    text-align: left;
    border-radius: 20px;
    margin: 10px;
    overflow-y: auto;
    background: #866c51;
    -webkit-box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.6);
    box-shadow: inset 4px 4px 20px rgba(0, 0, 0, 0.6);
}

.adv_title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 36px;
    color: #f5dfc7;
    background-color: #232323;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15);
}

.adv_desc {
    color: #f5dfc7;
    font-size: 14px;
    line-height: 22px;
    list-style-type: decimal;
    list-style-position: outside;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 10px;
    height: 350px;
    overflow: auto;
}

.adv_desc p {
    text-indent: 2em;
}

.adv_content {
    text-align: center;
}

/* 三大优势 */
.three_content {
    text-align: center;
}

.three_left {
    display: inline-block;
    vertical-align: middle;
    background-color: #f7d08a;
    width: 320px;
    height: 150px;
    margin: 15px;
    border-radius: 40px;
}

.three_right {
    display: inline-block;
    vertical-align: middle;
    background-color: #e3f09b;
    width: 320px;
    height: 150px;
    border-radius: 40px;
}

.three_title {
    /*text-align: left;*/
}

.three_desc {
    color: #535353;
    font-size: 14px;
    line-height: 22px;
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 20px;
}

.three_pic1 {
    background: url("/img/three-pic1.jpg") no-repeat center;
    background-size: 320px;
    width: 320px;
    height: 150px;
    border-radius: 40px;
}

.three_pic2 {
    background: url("/img/three-pic2.jpg") no-repeat;
    background-size: 320px 150px;
    width: 320px;
    height: 150px;
    border-radius: 40px;
}

.three_pic3 {
    background: url("/img/three-pic3.jpg") no-repeat center;
    background-size: 320px;
    width: 320px;
    height: 150px;
    border-radius: 40px;
}

/* 系统优势 */
.sys_content {
    padding-top: 20px;
}

.sysItem {
    margin-top: 24px;
    position: relative;
    text-align: center;
}

.sys_left {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #f79f79;
    width: 320px;
    height: 80px;
    border-radius: 20px;
    padding: 20px;
    padding-right: 60px;
    line-height: 80px;
    margin-right: 120px;
    color: #535352;
}

.sys_middle {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -50px;
    text-align: center;
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    border-radius: 50%;
}

.sys_right {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 320px;
    height: 80px;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px;
    line-height: 80px;
    color: #535352;
    border: 1px solid #dddddd;
}

.sys_left_text {
    display: inline-block;
    vertical-align: middle;
    min-height: 20px;
    line-height: 20px;
}

.sys_left_logo {
    position: absolute;
    text-align: center;
    top: -14px;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    color: #ea5154;
    background-color: #fff;
}

.sys_right_logo {
    position: absolute;
    text-align: center;
    top: -14px;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    color: gray;
    background-color: #fff;
}

.bold {
    color: #ea5154;
}

.bg_yellow {
    background-color: #f7d08a;
}

.bg_white {
    background-color: #e3f09b;
}

.bg_blue {
    background-color: #87b6a7;
}

.bg_pink {
    background-color: #f79f79;
}

/* 服务优势 */
.service_content {
    padding: 0 0 30px 0;
    text-align: center;
    line-height: 0;
    font-size: 0;
}

.service_right {
    display: inline-block;
    padding: 20px 8px;
}

.service_left {
    display: inline-block;
    padding: 20px 8px;
}

.service_info {
    text-align: left;
}

.service_info_title {
    font-size: 24px;
    line-height: 32px;
}

.service_info_desc {
    font-size: 14px;
    line-height: 28px;
    color: #535352;
}

.service_foot {
    border-right: none;
    border-radius: 0;
}

/* 加盟优势 */
.join_content {
    position: relative;
}

.join_question {
    min-height: 430px;
}

.questionImg {
    position: absolute;
    width: 200px;
    left: 50%;
    top: 70px;
    margin-left: -100px;
}

.join_row {
    margin: 60px auto 0;
    width: 550px;
    height: 54px;
}

.row2 {
    margin-top: 30px;
    width: 650px;
}

.row3 {
    margin-top: 30px;
    width: 600px;
}

.j_q_item_left {
    float: left;
    text-align: right;
}

.j_q_item_right {
    float: right;
    text-align: left;
}

.j_q_i_block {
    width: 150px;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    vertical-align: top;
}

.bg_color1 {
    background-color: #91ffdc;
    box-shadow: 3px 3px 10px #666;
}

.bg_color2 {
    background-color: #91ffdc;
    box-shadow: 3px 3px 10px #666;
}

.bg_color3 {
    background-color: #91ffdc;
    box-shadow: 3px 3px 10px #666;
}

.bg_color4 {
    background-color: #91ffdc;
    box-shadow: -3px 3px 10px #666;
}

.bg_color5 {
    background-color: #91ffdc;
    box-shadow: -3px 3px 10px #666;
}

.bg_color6 {
    background-color: #91ffdc;
    box-shadow: -3px 3px 10px #666;
}

.join_solution_title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.join_solution_desc {
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #535352;
}

.join_solution_text {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #535352;
}

.join_title {
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.join_desc {
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    color: #ea5154;
}

.join_adv {
    margin-top: 20px;
    padding-top: 10px;
    background-color: #fffce1;
}

.join_adv_logo {
    display: inline-block;
    vertical-align: top;
}

.join_adv_c {
    overflow: hidden;
}

.join_adv_c_left {
    padding: 10px 10px 10px 10px;
}

.join_adv_c_right {
    float: right;
    overflow: hidden;
    padding: 0 15px;
}

.j_a_c_r_img {
    width: 500px;
    margin-top: 60px;
}

.j_a_c_text {
    font-size: 14px;
    line-height: 180%;
    color: #535352;
    margin-top: 30px;
}

.j_a_c_eng {
    font-size: 14px;
    line-height: 180%;
    color: #535352;
}

.j_a_c_phone {
    float: right;
    padding-right: 30px;
    color: #535352;
}

.j_a_c_phoneImg {
    float: right;
    margin-right: 10px;
    padding-top: 6px;
}
