.news {
    background-color: #fff;
}

.news_item {
}

.news_item_a {
    display: block;
    text-decoration: none;
    padding: 10px 5px;
    overflow: hidden;
}

.news_item_a:hover {
    text-decoration: none;
    background-color: #f0eadc;
}

.news_pic {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 5px;
}

.news_title {
    color: #333;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}

.new_title_time {
    float: right;
    color: #999;
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
}

.news_summary {
    color: #666;
    font-size: 12px;
    line-height: 20px;
    text-indent: 2em;
    margin-top: 3px;
}

.news_item_a:hover .news_title {
    color: #909167;
}

.video {
    background-color: #fff;
}

.video_item {
}

.video_item_a {
    display: block;
    text-decoration: none;
    padding: 10px 5px;
    overflow: hidden;
}

.video_item_a:hover {
    text-decoration: none;
    background-color: #f0eadc;
}

.video_pic {
    float: left;
    width: 120px;
    height: 100px;
    margin-right: 10px;
    border-radius: 5px;
}

.video_title {
    color: #948E27;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
}

.video_title:visited {
    color: #948E27;
}

.cover {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(99, 55, 11, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3363370b, endColorstr=#3363370b);
}

.videoFrame {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -320px;
    margin-top: -250px;
    width: 640px;
    height: 500px;
    background-color: #000;
}