body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
}

.head {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.head_top {
    max-width: 1024px;
    margin: 0 auto;
}

.logo {
    padding-top: 10px;
}

.logo_title {
    color: gold;
    font-size: 12px;
    text-align: right;
}

.nav {
    display: block;
    position: relative;
    text-align: center;
    background: #eeeaea;
    margin-top: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navList {
    font-size: 0;
    line-height: 0;
    position: relative;
}

.navItem {
    display: inline-block;
}

.selected {
    background-color: #af9e83; /*#b6a168*/
}

.navItem a {
    display: block;
    padding: 16px;
    line-height: 24px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.nav-mainText {
    display: block;
    color: #af9e83;
    transition-duration: 500ms;
    transition-property: all;
}

.nav-subText {
    display: inline-block;
    color: #af9e83;
    transition-duration: 500ms;
    transition-property: all;
}

.navItem a:hover .nav-mainText {
    color: #eee;
}

.navItem a:hover .nav-subText {
    color: #eee;
}

.selected .nav-mainText {
    color: #eee;
}

.selected .nav-subText {
    color: #eee;
}

.moveItem {
    position: absolute;
    background: #af9e83;
    top: 0;
    height: 80px;
}

.foot {
    height: 100px;
    margin-top: 30px;
    border-top: 1px solid #ddd;
}

.foot_c {
    display: block;
    text-align: center;
    padding-top: 50px;
}

.floatWin {
    position: fixed;
    left: 6px;
    bottom: 100px;
    border: 1px solid #ddd;
    padding: 4px;
    padding-left: 6px;
    border-radius: 3px;
    box-shadow: 0 0 5px #ddd;
    background: #fff;
}

.floatWin_right {
    left: auto;
    right: 6px;
}

.fw_img {
    display: block;
    width: 100px;
    height: 100px;
}

.fw_item {
    font-size: 12px;
    line-height: 18px;
    margin-top: 2px;
    color: #948E27;
}

.fw_item_label {
    color: #666;
}

.fw_item_value {
    color: #333;
}

.fw_item_qq {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
