div.foot
    img.fw_img(src="/img/weixinqr.png")
    p.fw_item
        span.fw_item_label 微信:
        span.fw_item_value L234537021
    p.fw_item
        span.fw_item_label QQ:
        span.fw_item_value 234537021
    p.fw_item
        span.fw_item_label 电话:
        span.fw_item_value 18923842830