div.foot
    div.f_center
        div.f_left
            div.qrcode
        div.f_middle
            div.f_link
                a.f_link_item(href="/about") 关于我们
                a.f_link_item(href="/product") 关于产品
                a.f_link_item(href="/advantage") 我们的优势
                a.f_link_item(href="/story") 我们的故事
                a.f_link_item(href="/join") 招商加盟
                a.f_link_item(href="/news") 新闻中心
                a.f_link_item(href="/online") 在线咨询
                a.f_link_item(href="/contact") 联系我们
            div.f_info
                p 联系地址: 广东省开平市沿江东路131号春晓园首层105
                p Copyright 2016 xxxxxx有限公司 All Rrights Reserved
                p 浙ICP备xxxxxxxx号 www.themis-live.com
